:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --main-fs: 16px;
  --main-lh: 1.68;
  --trans-dur: 250ms;
  --trans-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--black-color);
  line-height: var(--main-lh);
  font-size: var(--main-fs);
  font-weight: 300;
  margin: 0;
  /* background-color: #f2f2f2; */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

section {
  /* width: 1366px; */
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1366px;
  /* padding-left: 40px;
  padding-right: 40px; */
  margin: 0 auto;
}

.responsive-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.section-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
  background-blend-mode: multiply;
}

.info-block {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.info-block-title {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2;
}

.white {
  color: var(--white-color);
}

.bold {
  font-weight: 600;
}

/* header */

.header {
  .container {
    padding: 40px 75px;
    display: flex;
    gap: 10px;
    align-items: center;

    .navigation {
      flex-grow: 1;

      .menu-list {
        margin: 0 auto;
        display: flex;
        gap: 32px;
        justify-content: center;

        a {
          color: var(--black-color);
          font-weight: 500;
        }
      }
    }
  }
}

/* hero */

/* software */

.software-list {
  position: absolute;
  left: 15%;
  top: 15%;
  display: flex;
  flex-direction: column;
  gap: 32px;

  .software-list-item {
    max-width: 387px;
  }
}

/* technologies */

.technologies {
  .info-block {
    max-width: 300px;
  }

  .memc {
    position: absolute;
    left: 2%;
    bottom: 10%;
    z-index: 5;
  }

  .upscaling {
    position: absolute;
    right: 2%;
    top: 11%;
    z-index: 6;
  }

  .img-wrapper {
    position: absolute;
    width: 22%;
  }

  .left-img {
    left: 5%;
    top: 11%;
  }

  .right-img {
    right: 7%;
    bottom: 10%;
  }
}

/* technologies */

.contrast-color {
  .info-block {
    max-width: 370px;
    position: absolute;
    left: 7%;
    top: 10%;
    z-index: 6;
  }
}

/* uhd */

.uhd {
  .info-block {
    max-width: 370px;
    position: absolute;
    right: 8%;
    top: 13%;
    z-index: 6;
  }
}

/* sound-control */

.sound-control {
  .info-block {
    max-width: 300px;
    position: absolute;
    left: 7%;
    top: 11%;
    z-index: 6;
  }
}

/* frameless */

.frameless {
  .info-block {
    max-width: 300px;
    position: absolute;
    right: 7%;
    top: 13%;
    z-index: 6;
  }
}

/* service */

.service {
  .service-info {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 40px;
    align-items: center;
    padding-left: 100px;
    background: #ffffff9c;
    width: 100%;
    height: 234px;
    backdrop-filter: blur(20px);

    .info-block {
      max-width: 355px;
    }

    .service-info-list {
      display: flex;
      gap: 40px;

      .service-info-item {
        width: 235px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
      }
    }
  }
}

/* history */

.history{

  .history-logo-wrap {
    position: absolute;
    top: 7%;
    left: 7%;
    width: 200px;

    .history-logo-text {
      font-family: Inter;
      font-size: 44px;
      font-weight: 300;
      text-align: center;
      color: var(--white-color);
    }
  }

  .history-info-list {
    position: absolute;
    top: 20%;
    padding: 0 20px;
    display: flex;
    gap: 40px;
    background-image: url(../img/jvc-history-line.png);
    background-repeat: no-repeat;
    background-position: 95% 0%;
    background-size: cover;

    .history-info-item {

     &:nth-child(1) {
      transform: translateY(69%);
    }
     &:nth-child(2) {
      transform: translateY(56%);
    }
     &:nth-child(3) {
      transform: translateY(40%);
    }
     &:nth-child(4) {
      transform: translateY(21.5%);
    }

      .history-info-wrap{
        
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        color: var(--white-color);
  
        .history-info-title{
          display: flex;
          flex-direction: column;
          gap: 16px;
          align-items: center;
          font-family: Inter;
          font-size: 21px;
          font-weight: 600;
          line-height: 27px;
          text-align: center;      
  
          &::after {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            background-color: #fff;
            border-radius: 50%;
          }
  
        }
  
        .history-img-wrap {
          width: 53px;
        }
  
        .history-info-text{
          text-align: center;
          &:last-child {
            max-width: 302px;
          }
        }
      }
    }

    
  }

}

/* tvs */

.tvs {
  .container {
    padding: 64px 75px;
    display: flex;
    gap: 32px;
  }

  .tv-card {
    /* width: 384px; */
    background-color: #EAE9E9;
    border: 1px solid #EAE9E9;
    border-radius: 8px;
    overflow: hidden;

    .tv-img-wrap {
      background-color: #fff;
      padding: 0 42px;
      border-radius: 8px;
      
    }

    .tv-info-wrap {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .tv-name-wrap{
        display: flex;
        font-family: Inter;
        justify-content: space-between;
        
        .tv-name-text {
          font-size: 24px;
          font-weight: 400;
          line-height: 1.4;
          width: 170px;
        }

        .tv-name-diagonal{
          width: 72px;
          height: 72px;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          font-size: 36px;
          font-weight: 300;
          color: #00000080;

        }
      }

      .tv-tech-list {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        
        .tv-tech-item {
          padding: 4px 8px;
          background-color: #fff;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 400;
          color: #000000BF;

        }
      }

      .tv-btn-wrap {
        padding: 24px 0;
        display: flex;
        justify-content: center;
        border-top: 1px solid #0000001A;

        .tv-btn {
          
          font-family: Inter;
          font-size: 16px;
          font-weight: 800;
          letter-spacing: 0.03em;
          text-transform: uppercase;
          color: var(--white-color);
          background-color: #111;
          padding: 16px 32px;
          margin: 0 auto;
          border-radius: 4px;
        }
      }
    }

  }
}

/* footer */

.footer {
  padding: 64px 0 16px 0;
  background-color: #111111;

  .container {
    padding: 0 75px;
  }

  .footer-list {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 40px;

    .footer-title {
      font-weight: 600;
      color: var(--white-color);
      margin-bottom: 28px;
    }

    .footer-link {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: #FFFFFF80;
      transition: color var(--trans-dur) var(--trans-timing-function);
      
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      &:hover, &:focus {
        color: #FFFFFF;
      }
    }
    
    .footer-phone {
      display: block;
      color: var(--white-color);
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 12px;
      }

    .footer-social-list {
      display: flex;
      gap: 16px;
    }
  }

  .footer-copyright {
    border-top: 1px solid #FFFFFF1A;
    padding: 33px 0;

    .footer-copyright-text{
      font-size: 12px;
      font-weight: 400;
      color: #FFFFFF80;

    }
  }
}

/* swiper */

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}
.swiper-button-next, .swiper-button-prev {
  fill: #11111133;
  transition: fill var(--trans-dur) var(--trans-timing-function);

  &:hover {
    fill: #111111;
    ;
  }
}

.swiper-button-next {
  transform: rotate(180deg);
}



.swiper-button-next::after, .swiper-button-prev::after {
  content: '';
}

